# =========================
# Virtual Environment
# =========================
venv/
env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Python Cache Files
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# SQLite Database
# =========================
*.sqlite3

# =========================
# Testing
# =========================
.pytest_cache/

# =========================
# Coverage Reports
# =========================
.coverage
htmlcov/

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/

# =========================
# mypy
# =========================
.mypy_cache/

# =========================
# Ruff / Lint
# =========================
.ruff_cache/

# =========================
# Alembic
# =========================
alembic/versions/*.pyc